.calendar__dates {
    position: relative;
    width: 100%;
    margin-top: 1rem;
    box-sizing: border-box;
    text-align: left;
}

.calendar__date {
    display: inline-block;
    width: calc(100%/7);
    height: 3rem;
    font-size: 2rem;
    padding: 1rem 0;
    border-bottom: 2px solid blue;
    text-align: center;
    transition: all linear .3s;
}

.calendar__date:hover {
    background-color:coral;
    cursor: pointer;
}

.calendar__dates {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.calendar__date_prev,
.calendar__date_next {
    color: #ccc;
}

.calendar__date_current {
    background-color: coral;
}