.hide-excess-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container {
  margin: auto;
  max-width: 1600px;
}

.horizontal-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}