.__font-uppercase {
  text-transform: uppercase;
}

.__font-light {
  color: #989D96;
}

.__font-dark {
  color: #212725;
}

.__font-gold {
  color: #E4AE58
}

.__font-bolder {
  font-weight: 500;
}

.__font-large {
  font-size: 3rem;
}

.__font-big {
  font-size: 2.5rem;
}

.__font-medium {
  font-size: 1.5rem;
}

.__font-normal {
  font-size: 1rem;
}

.__font-small {
  font-size: .8rem;
}

.__font-lighter {
  font-weight: lighter;
}

.__line-height-big {
  line-height: 1.5; 
}

