.__horizontal-flex {
  display: flex;
  justify-content: space-between;
}

.__vertical-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.__width-quarter {
  width: 25%;
}

.__width-half {
  width: 50%;
}

.__width-full {
  width: 100%;
}