.__hide-excess-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.__no-margin {
  margin: 0;
}

.__default-link {
  text-decoration: none;
}

.__default-list {
  list-style: none;
}

.__enabled-focus:focus,
.__enabled-hover:hover {
  cursor: pointer;
  color: #E4AE58;
  outline: none;
}

.__enabled-active:active {
  transform: scale(1.2);
}

.__delay-animation {
  transition: all linear .3s;
}

