.-dk-skills  {
  box-sizing: border-box;
}

.-dk-skills_bg-gold {
  background-color: #E4AE58;
}

.-dk-skills__caption {
  margin: 0;
  padding: 0 0 1rem;
}

.-dk-skills__sub-caption_font-color,
.-dk-skills__caption_font-color {
  color: #FAFFF8;
}

.-dk-skills__caption_font-decoration {
  font-size: 2.5rem;
  font-weight: normal;
}

.-dk-skills__skills-sub-caption_font-decoration {
  font-size: .9rem;
} 

.-dk-skills__sub-caption {
  display: block;
  padding-top: 1rem;
}
