.-dk-page-info-section_bg-light {
  background: #F0E2D7;
}

.-dk-page-info-section__navigation {
  padding-left: 2rem;
  width: 30rem;
  margin: 0;
}

.-dk-page-info-section__page-title {
  padding-top: 10rem;
}