.-dk-hamburger-button {
  position: absolute;
  margin: auto;
  z-index: 100;
  opacity: 1;
}

.-dk-hamburger-button__line-3,
.-dk-hamburger-button__line-2,
.-dk-hamburger-button__line-1 {
  position: absolute;
  height: 3px;
  width: 25px;
  left: 15px;
  margin: 3px;
  border: none;
}

.-dk-hamburger-button__line--bg-dark {
  background-color: rgb(0, 0, 0);
}

.-dk-hamburger-button__line-1 {
  top: 10px;
}

.-dk-hamburger-button__line-2 {
  top: 20px;
}
.-dk-hamburger-button__line-3 {
  top: 30px;
}

.-dk-hamburger-button-close {
  position: absolute;
  z-index: 98;
  margin: auto;
  opacity: 0;
}

.-dk-hamburger-button-close__line-2,
.-dk-hamburger-button-close__line-1 {
  position: absolute;
  top: 25px;
  left: 15px;
  height: 3px;
  width: 25px;
}

.-dk-hamburger-button-close__line--bg-light {
  background-color: rgb(236, 236, 236);
}

.-dk-hamburger-button-close__line-1 {
  transform: rotate(45deg);
}

.-dk-hamburger-button-close__line-2 {
  transform: rotate(-45deg);
}

.-dk-hamburger-button__radio-open,
.-dk-hamburger-button__radio-close {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 35px;
  width: 30px;
  opacity: 0;
  z-index: 99;
}

.-dk-hamburger-button__radio-open {
  z-index: 101;
}

.-dk-hamburger-button__radio-open:checked ~
.-dk-header-mobile__navigation  {
  opacity: 1;
}

.-dk-hamburger-button__radio-open:checked ~
.-dk-hamburger-button__radio-open {
  z-index: 99;
}

.-dk-hamburger-button__radio-open:checked ~
.-dk-hamburger-button__radio-close {
  z-index: 101;
}

.-dk-hamburger-button__radio-open:checked ~
.-dk-hamburger-button {
  display: none;
  z-index: 99;
}

.-dk-hamburger-button__radio-open:checked ~
.-dk-hamburger-button-close {
  z-index: 100;
  opacity: 1;
}