.-dk-progress-bar,
.-dk-progress-bar__line--frontend::after,
.-dk-progress-bar__line--backend::after,
.-dk-progress-bar__line--html::after {
  box-sizing: border-box;
}

.-dk-progress-bar__caption-skill {
  color: #233038;
}

.-dk-progress-bar__caption-persentage {
  color: #FEFFFF;
}

.-dk-progress-bar__line {
  border: 1px solid #233038;
}

.-dk-progress-bar__line--frontend::after,
.-dk-progress-bar__line--backend::after,
.-dk-progress-bar__line--html::after {
  content: "";
  position: relative;
  display: block;
  height: 1px;
  bottom: 1px;
  background-color: #FEFFFF;
  border: 1px solid #FEFFFF;
}

.-dk-progress-bar__line--frontend::after {
  left: 90%;
  width: 11%;
}

.-dk-progress-bar__line--backend::after {
  left: 70%;
  width: 31%;
}

.-dk-progress-bar__line--html::after {
  left: 80%;
  width: 21%;
}