.label {
  position: absolute;
  z-index: 99;
  left: 41%;
  top: 53px;
  width: 247px;
  height: 62px;
  background-image: url("../../assets/label.jpg");
}

.label:hover {
  transform: scale(1.1);
  cursor: pointer;
}