.sprite__icon {
  display: inline-block;
  margin: 10px;
  box-sizing: border-box;
  height: 28px;
  width: 30px;
  border-radius: 8px;
  background-image: url("../../assets/sprite.jpg");
}

.sprite__icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.sprites__icon1 {
  background-position: -1px -1px;
}

.sprites__icon2 {
  background-position: 0px -30px;
}

.sprites__icon3 {
  background-position: -1px -60px;
}

.sprites__icon4 {
  background-position: -30px -1px;
}

.sprites__icon5 {
  background-position: -30px -30px;
}

.sprites__icon6 {
  background-position: -30px -60px;
}

.sprites__icon7 {
  background-position: -60px -1px;
}

.sprites__icon8 {
  background-position: -60px -30px;
}

.sprites__icon9 {
  background-position: -60px -60px;
}

.sprites__icon10 {
  background-position: -90px -1px;
}

.sprites__icon11 {
  background-position: -90px -30px;
}

.sprites__icon12 {
  background-position: -90px -60px;
}

.sprites__icon13 {
  background-position: -120px -1px;
}

.sprites__icon14 {
  background-position: -120px -30px;
}

.sprites__icon15 {
  background-position: -120px -60px;
}





.sprites__icon16 {
  background-position: -150px -1px;
}

.sprites__icon17 {
  background-position: -150px 30px;
}

.sprites__icon18 {
  background-position: -150px 60px;
}

.sprites__icon19 {
  background-position: 30px -1px;
}

.sprites__icon20 {
  background-position: 30px 30px;
}

.sprites__icon21 {
  background-position: 30px 60px;
}

.sprites__icon22 {
  background-position: 60px -1px;
}

.sprites__icon23 {
  background-position: 60px 30px;
}

.sprites__icon24 {
  background-position: 60px 60px;
}

.sprites__icon25 {
  background-position: 90px -1px;
}

.sprites__icon26 {
  background-position: 90px 30px;
}

.sprites__icon27 {
  background-position: 90px 60px;
}

.sprites__icon28 {
  background-position: 120px -1px;
}

.sprites__icon29 {
  background-position: 120px 30px;
}

.sprites__icon30 {
  background-position: 120px 60px;
}

.sprites__icon31 {
  background-position: 250px -1px;
}

.sprites__icon32 {
  background-position: 150px 30px;
}

.sprites__icon33 {
  background-position: 150px 60px;
}